/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* Styles CSS */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@import url('darkmode.css');
@import url('responsive.css');
@import url('typography.css');
@import url('popupmodal.css');


/* ------------------------------- */
/* Link styles */
/* ------------------------------- */

a,
a:visited {
  color: #924af1;
  text-decoration: underline;
  background-color: transparent;
  padding: 0.25rem 0;
}

a:hover {
  color: #6208d7;
  text-decoration: underline;
}

.img-nav a.placeholder,
.img-nav a:visited.placeholder,
.img-nav a:hover.placeholder,
.img-sub a,
.img-sub a:visited,
.img-sub a:hover {
  padding: 0;
  background-color: transparent;
}

a.placeholder,
a:visited.placeholder,
a:hover.placeholder,
.horizontal-nav a.placeholder {
  color: #2D72C2;
  font-style: italic;
  background-color: transparent;
  text-decoration: line-through;
}

.footer-link a,
.footer-link a:visited {
  color: #bbb;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.footer-link a:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.horizontal-nav a,
.horizontal-nav a:hover {
  margin-right: 1.5rem;
  font-size: 1.25rem;
  color: #1B1B1B;
  background-color: transparent;
}

a.main-title,
a:hover.main-title,
a:visited.main-title {
  text-decoration: none;
  color: #1B1B1B;
  background-color: transparent;
}


/* ------------------------------- */
/* Font styles */
/* ------------------------------- */

body {
  font-family: "PPMori-Regular", sans-serif;
  color: #1B1B1B;
  font-size: 1.2rem;
}

/* ------------------------------- */
/* Image styles */
/* ------------------------------- */

.img-section,
.img-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem 0;
  justify-content: space-between;
}

.img-sub {
  width: 48%;
}

.img-sub img {
  max-height: 300px;
  border: 1px solid #ccc;
}

.img-sub h3 {
  margin-top: 8px;
  margin-bottom: 32px;
}

.img-nav a img {
  border: 1px solid #ccc;
}

/* ------------------------------- */
/* Background styles */
/* ------------------------------- */

.card-bg {
  background-color: #fbfbfb;
}

.blog-callout {
  background-color: #FCF9FF;
  border: 1px solid #440F8A;
  padding: 3rem;
  margin: 3rem 0;
  line-height: 2em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* ------------------------------- */
/* Layout styles */
/* ------------------------------- */

.avatar-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  width: 220vh;
}

.flex-center {
  display: flex;
  align-items: center;
}

.horizontal-nav {
  display: flex;
}

.horizontal-nav-index a {
  margin-right: 1rem;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* ------------------------------- */
/* Line styles */
/* ------------------------------- */

hr {
  height: 1px;
  border: none;
  border-top: 2px solid #1B1B1B;
}

.small-line {
  width: 15%;
}

.small-locked-line {
  width: 100px;
}

.mid-line {
  width: 35%;
}

/* ------------------------------- */
/* Table styles */
/* ------------------------------- */


table {
  font-size: 1.25rem;
  font-weight: 400;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-weight: normal;
}

tr:nth-child(even) {
  background-color: #F3E9FF;
}

/* ------------------------------- */
/* Miscellaneous */
/* ------------------------------- */

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* truncate to 3 lines */
}

.hidden-on-scroll {
  display: none;
}

.category {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.category h3 {
  margin-bottom: 4px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sit next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.math-box {
  background-color: #eee;
  border: 1px solid;
  margin-bottom: 24px;
  font-size: 24px;
}

.math-box p {
  text-align: center;
  font-size: 1.25rem;
}

.tag-section {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  color: #000;
  background-color: #ddd;
  padding: 4px 8px;
  margin: 8px 8px 0 0;
  border-radius: 2px;
}

