/* CSS Override Tachyons Styles */


/* ======= Link styling ======= */
a {
	color: #9869D3;
  text-decoration: underline;
  background-color: transparent;
  padding: 0.2rem;
}

a:visited {
	color: #9B7C9E;
  text-decoration: underline;
}

a:hover {
	color: #48118F;
  background-color: #F1EEFF;
  text-decoration: underline;
}

.img-nav a.placeholder,
.img-nav a:visited.placeholder,
.img-nav a:hover.placeholder,
.img-sub a,
.img-sub a:visited,
.img-sub a:hover {
  padding: 0;
  background-color: transparent;
}

.img-sub h3 a:hover {
  background-color: #E0D8FF;
  text-decoration: underline;
  padding: 0.1rem;
}

a.placeholder,
a:visited.placeholder,
a:hover.placeholder,
.horizontal-nav a.placeholder {
  color: #2D72C2;
  font-style: italic;
  background-color: transparent;
  text-decoration: line-through;
}

.footer-link a, .footer-link a:visited {
  /* color: hsla(0, 0%, 100%, .7); */
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.footer-link a:hover {
  color: #808080;
  text-decoration: none;
  background-color: transparent;
}

.horizontal-nav a, .horizontal-nav a:hover {
  margin-right: 1rem;
  color:#1B1B1B;
  background-color: transparent;
}

a.main-title, a:hover.main-title, a:visited.main-title {
  text-decoration: none;
  color: #1B1B1B;
  background-color: transparent;
}

.lockednav-links {
  list-style:decimal-leading-zero;
  padding: 1rem 1rem 1rem 2.5rem;
  line-height: 2em;
  margin: 0;
}

.lockednav-links li {
  font-family: 'Playfair Display', serif;
  margin-bottom: 15px;
  font-size: 24px;
}

.lockednav-exlinks li {
  margin-bottom: 15px;
}

.lockednav-exlinks {
  list-style: none;
  padding-left: 0px;
}

a.deprecated-link {
  text-decoration: line-through;
  color: #808080;
  background-color: #eee;
}

a.deprecated-link:hover {
  cursor: not-allowed;
}

.dropdown-nav {
  display: none;
  margin: 0 1rem;
}

.dropdown-nav button {
  background-color: #FAFAFA;
  color: #1b1b1b;
  border: 1px solid #D6D8DB;
  border-radius: 8px;
  padding: 10px 14px;
  min-height: 32px;
  min-width: 40px;
}

.dropdown-nav button:hover {
  background-color: #F3F3F3;
  color: #1b1b1b;
  border: 1px solid #B3B5B8;
  cursor: pointer;
  transition: 0.3s;
}

.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #1b1b1b;
}

.avatar-group {
  display: flex;
  align-items: center;
}


/* ==================================== */

/* ======= Font styling ======= */

.font {
  font-family: 'Roboto Condensed', sans-serif;
  background: linear-gradient(#F5F0F7, #F5F0F7 10%, #FEFEFE 45%);
}

p.playfair {
  font-family: 'Playfair Display', serif;
}

h1 {
      font-family: 'Playfair Display', serif;
      color: #1B1B1B;
      font-weight: 100;
      font-size: 3rem;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #1B1B1B;
    font-weight: 100;
    font-size: 2rem;
}

h3 {
  font-family: 'Playfair Display', serif;
  color: #1B1B1B;
  font-weight:100;
  font-size: 1.4rem;
}

.img-nav h3{
  margin-top: 1rem;
}

.sub-title {
  color: #828282;
}

.spaced-out {
  letter-spacing: 0.2em;
  color: #1B1B1B;
}

.caption {
  font-style: italic;
  font-size: 14px;
}

.code {
  font-family: 'Space Mono', monospace;
  color: #56215C;
  padding: 1.5rem;
  background-color: #F5F3F6;
  border: 1px solid #D9D0DA;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
}

.header-index-text {
  display: flex;
  flex-direction: column;
}

.headline {
  margin-bottom: 4px;
}

.work-title {
  background-color: #dddddd;
  color: #1B1B1B;
  padding: 50px 30px;
  border-left: solid 10px #000;
}

blockquote {
  border-color: #B885F9;
}

/* ==================================== */

/* ======= Image styling ======= */

.mainview {
  background-image: url(images/bg-1.png);
}

.blog-img {
  max-height: 450px;
  border: 1px solid #333;
}

.small-img {
  width: 500px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.img-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem 0;
  justify-content: space-between;
}

.img-sub {
  width: 48%;
}

.img-sub img {
  max-height: 260px;
  border: 1px solid #ccc;
}

.img-sub h3 {
  margin-top: 0px;
  margin-bottom: 32px;
}

.img-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem 0;
  justify-content: space-between;
  width: 30%;
}

.img-nav a img {
  border: 1px solid #ccc;
}

/* ==================================== */

/* ======= Background styling ======= */

.blog-callout {
  background-color: #F5F3F6;
  border:1px solid #840A91;
  padding: 3rem;
  margin: 3rem 0;
  line-height: 2em;
}

.blog-callout h3 {
  margin-top: 0;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #DDD;
  background-color: #F1EEF2;
  color: #796F81;
}

.footer-flex-columns {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.footer-link a,
.footer-link a:visited {
  color: #796F81;
  text-decoration: none;
}

.footer-link a:hover {
  color: #4F4F4F;
}

.footer-link a i {
  font-size: 14px;
  margin-left: 2px;
  transition: all .2s ease-out;
}

.footer-link a:hover i {
  webkit-transform: translate(5px, 0);
  -moz-transform: translate(5px, 0);
  -o-transform: translate(5px, 0);
  -ms-transform: translate(5px, 0);
  transform: translate(5px, 0);
}

.toggle-callout {
  background-color: #FFF6E8;
  color: #656565;
  font-weight: 100;
  padding: 0.4rem 0.7rem;
  margin: 0;
  width:fit-content;
  display: flex;
  align-items: center;
}

/* ==================================== */

/* ======= Table styling ======= */

table {
  font-size: 16px;
  font-weight: 400;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-weight: normal;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

/* ==================================== */

.closeout {
  display: none;
}

.horizontal-nav {
  display: flex;
  margin-left: 16px;
}

.horizontal-nav-index {
  display: flex;
  flex-wrap: wrap;
}

.horizontal-nav-index a{
  margin-right: 1rem;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#the-sticky-div.sticky {
  position: fixed;
  top: 10px;
  left: 70%;
  width: 16em;
  max-width: 275px;
}

#the-sticky-div.sticky h2 {
  font-size: 30px;
}

#the-sticky-div.sticky hr.small-line {
  width: 100%;
}

#the-sticky-div.sticky .lockednav-links li {
  margin-bottom: 20px;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* truncate to 3 lines */
  -webkit-line-clamp: 3;
}

/* ======= Line styling ======= */

hr {
  height: 1px;
  border: none;
  border-top: 2px dotted black;
}

.small-line {
  width: 15%;
}

.mid-line {
  width: 35%;
}

/* ==================================== */

.category {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.category h3 {
  margin-bottom: 4px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.math-box {
  background-color: #eee;
  border: 1px solid;
  margin-bottom: 24px;
  font-size: 24px;
}

.math-box p {
  text-align: center;
  font-size: 16px;
}

.tag-section{
  display: flex;
  flex-wrap: wrap;
}

.tag{
  color: #000;;
  background-color: #ddd;
  padding: 4px 8px;
  margin: 8px 8px 0 0;
  border-radius: 2px;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* Responsive stuff etc */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* ########################## */
/* Custom CSS screen sizes */
/* ########################## */


@media screen and (min-width: 1800px) {
  #the-sticky-div.sticky {
    left: 68vw;
    width: 20rem;
    max-width: 350px;
  }
}

@media screen and (min-width: 2000px) {
  #the-sticky-div.sticky {
    left: 66vw;
  }
}

@media screen and (min-width: 2200px) {
  #the-sticky-div.sticky {
    left: 64vw;
  }
}

@media screen and (max-width: 701px) {
  .avatar-group h1 {
    margin-right: 1rem;
  }

  .horizontal-nav {
    display: none;
    margin-left: 0;
  }

  .horizontal-nav.active {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: #F2F2f2;
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
    z-index: 99;
    opacity: 95%;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .horizontal-nav.active a {
    padding: 1.5rem 0;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
  }

  .horizontal-nav.active a:hover {
    background-color: #E0D8FF;
  }

  .horizontal-nav.active a:hover.placeholder {
    background-color: transparent;
    color: #2D72C2;
  }

  .horizontal-nav.active a.closeout {
    display: inline;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    margin-top: 2rem;
  }

  .horizontal-nav.active a:hover.closeout {
    text-decoration: underline;
  }

  .horizontal-flex {
    width: 90vw;
  }

  .dropdown-nav {
    display: inline;
  }

  body.dark .horizontal-nav.active {
    background-color: #292929;
  }

  p {
    font-size: 18px;
    line-height: 1.8;
  }
}



/* ########################## */
/* MEDIUM size screen */
/* ########################## */

@media screen and (min-width: 30em) and (max-width: 60em) {
  .img-nav {
      width: 40%;
    }
  .math-box {
      margin-bottom: 16px;
      font-size: 16px;
  }
  #the-sticky-div.sticky {
    position: relative;
    width: 100%;
    max-width: 100%;
    left: 0%
  }
  #the-sticky-div hr.small-line {
    width: 100%;
  }
  .popupClose {
    display: none;
  }
  h2.f1 {
    font-size: 2.5rem;
  }
}


/* ########################## */
/* SMALL MOBILE size screen */
/* ########################## */

@media screen and (max-width: 30em) {

  .img-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 2rem 0;
    justify-content: space-between;
    width: 98%;
  }
  
  .img-section {
    display: block;
  }

  .img-sub {
    width: 98%;
  }

  .row {
    display: block;
  }

  .column {
    max-width: 100%;
  }

  .small-line {
    width: 35%;
  }

  .img-nav {
    width: 50%;
  }

  .math-box {
    margin-bottom: 16px;
    font-size: 16px;
  }

  #the-sticky-div.sticky {
    position: relative;
    width: 100%;
    max-width: 100%;
    left: 0%
  }

  #the-sticky-div hr.small-line {
    width: 100%;
  }

  .popupClose {
    display: none;
  }

  h2.f1 {
    font-size: 2rem;
  }
}


/* ########################## */
/* IMAGE MODAL pop up */
/* ########################## */

.popupHolder {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.90);
  z-index: 888888;
}

.popupFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.popup {
  position: relative;
  background: #FFF;
  max-width: 95%;
  max-height: 95%;
}

.popupClose {
  position: absolute;
  right: 45%;
  bottom: 0.4rem;
  color: #230526;
  font-family: 'Playfair Display', serif;
  text-decoration: underline;
  font-weight: 100;
  font-size: 1rem;
  cursor: pointer;
  z-index: 999999;
}

.popupClose:hover {
  color: #840A91;
  background-color: #EFE4F0;
}

.popupCnt {
  padding: 3%;
  text-align: center;
}

.popupCnt #img01 {
  height: 50%;
}


/* ########################## */
/* DARK mode */
/* ########################## */

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #f39c12;
  width: 40px;
  height: 16px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moon {
  color: #FFE992;
}

.sun {
  color: #FEFEFE;
}

.checkbox-label .ball {
  background-color: #FEFEFE;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}

body.dark .blog-img {
  border: 1px solid #777;
}

body.dark {
  /* background-color: #121212; */
  background: linear-gradient(#151515, #121212 15%, #151515 45%);
}

body.dark footer {
  background-color: #0B0B0B;
  border-top: 1px solid #2A2A2A;
}

body.dark footer p {
  color: #AAAAAA;
}

body.dark .work-title {
  background-color: #4A4A4A;
}

body.dark .popup {
  background: #292929;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark p,
body.dark li
{
  color: #FEFEFE;
}

body.dark hr {
  border-top: 2px dotted #FEFEFE;
}

body.dark .checkbox-label {
  background-color: #1B2687;
}

body.dark a {
  color: #9B7C9E;
  text-decoration: underline;
  background-color: transparent;
}

body.dark a:visited {
  color: #9B7C9E;
}

body.dark a:hover {
  color: #B885F9;
  background-color: #261931;
  text-decoration: underline;
}

body.dark .header-text a:visited.main-title,
body.dark .header-text a:hover.main-title,
body.dark .header-text a,
body.dark .header-text a:visited,
body.dark .header-text a.main-title {
  text-decoration: none;
  background-color: transparent;
  color: #FEFEFE;
}

body.dark .header-text a:hover {
    text-decoration: underline;
    background-color: transparent;
    color: #FEFEFE;
}

body.dark a.placeholder, 
body.dark a:visited.placeholder, 
body.dark a:hover.placeholder {
  color: #60A1EE;
  background-color:transparent;
  text-decoration: line-through;
}

body.dark .footer-link a,
body.dark .footer-link a:hover,
body.dark .footer-link a:visited {
  color: hsla(0, 0%, 100%, .5);
  text-decoration: none;
}

body.dark .footer-link a:hover {
  background-color: transparent;
  color: hsla(0, 0%, 100%, .9);
}

body.dark cite {
  color: #BDBDBD;
}

body.dark img {
  filter: brightness(.8) contrast(1.2);
}

body.dark td,
body.dark th {
  border: 1px solid #121212;
  color: #FEFEFE;
}

body.dark .toggle-callout {
  background-color: #23242C;
}

body.dark tr:nth-child(even) {
  background-color: #212121;
}

body.dark .blog-callout {
  color: #FEFEFE;
  background-color: #28252B;
  border: 1px solid #121212;
}

body.dark .code {
  color: #B885F9;
  background-color: #28252B;
  border: 1px solid #121212;
}

body.dark .dropdown-nav button {
  background-color: #21262D;
  border: 1px solid #363B42;
}

body.dark .dropdown-nav button:hover {
  background-color: #282E35;
  border: 1px solid #8B949E;
}

body.dark .bar {
  background-color: #fefefe;
}

body.dark .horizontal-nav.active a:hover {
  background-color: #E0D8FF;
  color: #48118F;
}

body.dark .horizontal-nav.active a:hover.placeholder {
  background-color: transparent;
  color: #60A1EE;
}

body.dark .horizontal-nav.active a:hover.closeout {
  background-color: transparent;
  color: #FEFEFE;
  text-decoration: underline;
}
