/* CSS Override Tachyons Styles */

.small-img {
  width: 500px;
}

a {
	color: #19a974;
}

a:visited {
	color: #137752;
}

a:hover {
	color: #137752;
}

.mainview {
    background-image: url(images/bg-1.png);
}

.avenir {
    font-family: 'avenir next', avenir, sans-serif;
}

