// =========================================
// =========================================
// Eetom Blog
// Index Page Styling
// Vr 1.0
//
//
// =========================================


// =========================================
//Layout Classes

.main-menu {
	text-align: center;
	margin-top: 50px;
	margin-left: 15px;
	padding-left: 15px;
}

.main-image {


}


// =========================================
//Image Classes

.full-cover-img {
	width: 100%;
	padding: 20px;
}

.logo {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 2px solid #ccc;
	padding: 5px;
	margin-bottom: 10px;
}

// =========================================
//Typography Classes

ul.navmenu a {
	font-size: 1.4em;
}


.btn-nav {
	color: #333;
    background-color: #ddd;
    border-color: #ddd;
    margin-left: 20px;
}

.btn-nav:hover {
	color: #333;
    background-color: #ccc;
    border-color: #ccc;
}