// =========================================
// =========================================
// Eetom Blog
// Index Page Styling
// Vr 1.0
//
//
// =========================================


// =========================================
//Layout Classes

.main-menu {
	text-align: center;
	margin-top: 40px;
	margin-left: 20px;
}

.main-image {


}


// =========================================
//Image Classes

.full-cover-img {
	width: 100%;
	padding: 20px;
}

.logo {
	width: 75px;
	height: 75px;
	border-radius: 50px;
	border: 2px solid #ccc;
	padding: 5px;
}