/*Styles for Resume*/
/*Here is the base CSS for clean version*/

* {
  font-family: 'Lato', sans-serif;
}

body {
  padding: 1em;
}

h1, h2 {
  font-family: 'Bitter', serif;
}

h2 {
  margin: 0 0 2em 0;
}

h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

p {
  line-height: 1.85;
  font-size: 1.2rem;
  opacity: 0.6;
}

a {
  font-size: 1.3125rem;
  color: #e74c3c;
}

a:hover {
  color: #c0392b;
}

.date {
  font-size: 1.2rem;
  opacity: 0.8;
  padding-left: 5px;
}

.wrapper {
	width: 100%;
	max-width: 900px;
	margin: 3.5em auto;
}

.section-wrapper {
  display: flex;
}

.section-title {
  width: 100%;
  max-width: 300px;
}

.section-content {
  width: 100%;
  max-width: 560px;
}

hr {
  margin: 3em 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

a.disabled {
  text-decoration: line-through;
  cursor: not-allowed;
  opacity: 0.5;
}

/*One-off Styles*/

.no-title {
  margin-top: 0;
}

.aquired {
  font-size: 0.9rem;
  font-weight: 700;
}


/*Media Queries*/

/*Section layout breakpoint*/
@media only screen  and (max-width : 961px) {

  .section-wrapper {
    flex-direction: column;
  }

  .section-title {
    width: 100%;
    max-width: none;
  }

  .section-content {
    width: 100%;
    max-width: none;
  }

  h2 {
    font-size: 1.7rem;
  }
}
