/*styles only for the printer friendly version*/

body {
  color: black;
}

p {
  font-size: 0.8em;
  line-height: 1.4;
  opacity: 0.7;
  margin: 0.5rem 0;
}

a {
  font-size: 0.9em;
}

h1 {
  font-size: 2em;
}

h1.title {
  margin-top: 0;
}


h2 {
  font-size: 1em;
  color: #888;
  margin: 15px;
}

h2.title {
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  color: #721BE4;
  margin: 0;
}

h3 {
  font-size: 1em;
}

h3.title {
  margin-top: 5px;
  color: #888;
}

h4{
  font-size: 1em;
  font-weight: 300;
}

hr {
  margin: 1em 2em;
}

a, a:visited, a:hover {
  color: black;
}

.wrapper {
  margin: 1em auto;
  max-width: 800px;
}

.section-wrapper {
  flex-direction: column;
  margin-top: 1.5rem;
}

.section-title {
  max-width: none;
  text-align: right;
  print-color-adjust: exact;
  margin-bottom: 1.5rem;
}

.section-title h2 {
  margin-top: 0;
}

.section-content {
  width: 100%;
  max-width: 650px;
}

.aquired {
  margin-top: 2px;
  font-size: 0.8rem;
  font-weight: 700;
}

.small-list {
  font-size: 0.8rem;
  line-height: 1.5;
  padding-left: 14px;
  margin-bottom: 0;
}

.small-list li {
  color: #333;
  font-weight: 500;
  padding-bottom: 4px;
}

.date {
  /* display: block; */
  color: #333;
  font-weight: 500;
  font-size: 0.9rem;
  opacity: 0.8;
  padding-left: 0px;
  margin-top: 2px;
}

.triple-columns {
  display: flex;
  justify-content: space-between;
}

.tc-1 {
  width: 30%;
}

.company {
  color: #333;
  font-size: 1rem;
}

.role {
  color: #721BE4;
  font-size: 1rem;
  margin-bottom: 0rem;
}

.right-align {
  text-align: right;
}

.section-content-2cola {
  width: 30%;
}

.section-content-2colb {
  width: 65%;
}

.work-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.signature-cover {
  font-family: "Nothing You Could Do", cursive;
  font-size: 2rem;
}

.no-title {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.cover-list{
  margin-bottom: 1rem;
}

.cover-gap{
  margin-top: 1.5rem;
}

.contacts {
  font-size: 1rem;
  margin-right: 1rem;
}

.contacts2 {
  font-size: 1rem;
  margin-right: 1rem;
  color: #000;
  margin-bottom: 1.5rem;
}

.contacts i {
  padding: 4px 8px;
  margin-left: 4px;
  background-color:#ede2fd ;
  print-color-adjust: exact;
}

.contacts a {
  color: #721BE4;
}


