/*styles only for the printer friendly version*/

body {
  color: black;
}

p {
  font-size: 0.9em;
  line-height: 1.4;
  opacity: 0.7;
}

a {
  font-size: 0.9em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
  margin: 15px;
}

h3 {
  font-size: 1em;
}

hr {
  margin: 1.5em 0;
}

a, a:visited, a:hover {
  color: black;
}

.wrapper {
  margin: 1em auto;
  max-width: 800px;
}

.section-wrapper {
  flex-direction: column;
  margin-top: 1.5rem;
}

.section-title {
  width: 100%;
  max-width: none;
  background-color: #f2f2f2;
  print-color-adjust: exact;
  margin-bottom: 1.5rem;
}

.section-content {
  width: 100%;
  max-width: 650px;
}

.aquired {
  margin-top: 2px;
  font-size: 0.8rem;
  font-weight: 700;
}

.date {
  display: block;
  font-size: 0.9rem;
  opacity: 0.8;
  padding-left: 0px;
  margin-top: 2px;
}

.right-align {
  text-align: right;
}

.section-content-2col {
  width: 48%;
}

.work-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.signature-cover {
  font-family: "Nothing You Could Do", cursive;
  font-size: 2rem;
}

.no-title {
  margin: 0;
}
