/*styles only for the printer friendly version*/

body {
  color: black;
}

p {
  font-size: 1em;
  line-height: 1.4;
  opacity: 0.7;
}

a {
  font-size: 1em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.2em;
}

hr {
  margin: 1.5em 0;
}

a, a:visited, a:hover {
  color: black;
}

.wrapper {
  margin: 1em auto;
  max-width: 800px;
}

.section-wrapper {
  flex-direction: column;
  margin: 2.5rem 0;
}

.section-title {
  width: auto;
}

.section-content {
  width: 100%;
}

.aquired {
  margin-top: 2px;
  font-size: 0.9rem;
  font-weight: 700;
}

.date {
  display: block;
  font-size: 1rem;
  opacity: 0.8;
  padding-left: 0px;
  margin-top: 2px;
}

.section-content-2col {
  width: 47%;
}

.work-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.work-wrapper .section-wrapper {
  
}



