body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ccc;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    height: 280px;
    display: flex;
}

venn-diagram {
    width: 100%;
    height: 100%;
}

.venn-diagram-outer-circle {
    fill: none;
    stroke-width: 3px;
}

.venn-diagram-inner-circle {
    stroke: none;
}

.venn-diagram-border-circles {
    stroke: #fff;
    stroke-width: .8rem;
    fill: none;
}

.venn-diagram-label {
    font-size: 1.8rem;
    font-weight: 300;
    color: #333;
    text-anchor: middle;

    tspan {
        text-anchor: middle;
    }

    &.haspointer {
        cursor: pointer;
    }

    &:last-of-type {
        font-weight: 700;
    }
}