/*Responsive Styles for Design Sys notes*/

/* Laptop L - 1440 */
@media only screen and (max-width : 1441px) {
  body {
    background-color: lightblue;
    /*responsive test*/
  }
  input {
    width: 53%;
  }
  .saveBtn, .clearBtn {
    width: 13%;
  }
}

/* Laptop - 1024 */
@media only screen and (max-width : 1025px) {
	body {
    background-color: lightgreen;
    /*responsive test*/
  }
  input {
    width: 46%;
  }
  .saveBtn:after {
    content: "Save";
  }
  .clearBtn:after {
    content: "New";
  }
}

/* Tablet - 768 */
@media only screen and (max-width : 769px) {
  body {
    background-color: red;
    /*responsive test*/
  }
  .pause:after {
    content: none;
    padding-left: 0px;
  }
  .start:after {
     content: none;
     padding-left: 5px;
  }
  .initiate {
    height: 100%;
    vertical-align: middle;
  }
  .initiate:after {
    content: none;
  }
  .initiate .fa {
    font-size: 22px;
  }
  .saveBtn:after {
    content: none;
  }
  .clearBtn:after {
    content: none;
  }
  .clearBtn, .saveBtn {
    padding: 10px 14px;
    width: auto;
    text-align: center;
    font-size: 22px;
  }
  .fa-floppy-o, .fa-external-link {
    margin-right: 0;
  }
  .saveBtn {
    margin-right: 10px;
  }
}

/* Special Breakpoint for Buttons */
@media only screen and (max-width: 605px) {
  h2 {
    font-size: 2.2em;
  }
  input {
    width: 100%;
  } 
  ul {
    margin-top: 265px;
    padding: 0 20px;
  }
  .header {
    padding: 10px 20px 30px 20px;
    height: 265px;
  }
  .clearBtn, .saveBtn, .addBtn {
    margin-top: 15px;
  }
}

/* Mobile L - 425 */
@media only screen and (max-width : 426px) {
  body {
    background-color: darkgreen;
    /*responsive test*/
  }
  ul {
    margin-top: 265px;
    padding: 0 20px;
  }
  .header {
    padding: 10px 20px 30px 20px;
    height: 265px;
  }
}

/* Mobile M - 375px */ 
@media only screen and (max-width : 376px) {
  body {
    background-color: blue;
    /*responsive test*/
  }
  ul {
    padding: 0 15px;
  }
  .header {
    padding: 10px 15px 30px 15px;
  }
}

/* Mobile S - 320 */ 
@media only screen and (max-width : 321px) {
  body {
    background-color: darkred;
    /*responsive test*/
  }
  .clearBtn, .saveBtn {
    padding: 10px;
    width: auto;
    text-align: center;
    font-size: 22px;
  }
  ul {
    padding: 0 10px;
  }
  .header {
    padding: 10px 10px 30px 10px;
  }
}