/* CSS Styles for Taskit */

body {
  margin: 0;
  min-width: 250px;
  font-family: 'FontAwesome', sans-serif;
  background-color: #2E3C54;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

h2 {
  margin:20px 20px 0 0;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4px;
}

p.title {
  margin-top: 5px;
  margin-bottom: 25px;
  text-align: left;
  font-size: 18px;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  margin-top: 177px;
  padding: 0 40px;
  background-color: #2E3C54;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 15px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the timer button */
.pause, .start, .initiate {
  position: absolute;
  right: 45px;
  top: 0;
  padding: 12px 16px 12px 16px;
/*  width: 15%;*/
}

.pause {
  background-color: #FFB902;
  color: white;
}

.pause:after {
   content: "Paused";
   padding-left: 5px;
}

.start {
  background-color: #00BE81;
  color: white;
}

.start:after {
   content: "Timing";
   padding-left: 5px;
}

.initiate {
  background-color: #6A67CE;
  color: white;
}

.initiate:after {
  content: "Start Timer";
}

/* Style the header */
.header {
  background-color: #2E3C54;
  padding: 10px 40px 30px 40px;
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 177px;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  border: none;
  width: 55%;
  padding: 10px;
  float: left;
  font-size: 18px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px 14px;
  background: #FC636B;
  color: #fff;
  float: left;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

/* Style the "Add" button */
.clearBtn {
  padding: 10px;
  width: 11%;
  background: #FC636B;
  color: #fff;
  float: right;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

/* Style the "Add" button */
.saveBtn {
  padding: 10px;
  width: 11%;
  margin-right: 15px;
  background: #FC636B;
  color: #fff;
  float: right;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:after {
  content:"Add New Task";
}

.saveBtn:after {
  content: "Save List";
}

.clearBtn:after {
  content: "New List";
}

.addBtn:hover, .clearBtn:hover, .saveBtn:hover {
  background-color: #FF6D92;
}

.fa-plus-circle, .fa-tasks, .fa-pause, .fa-hourglass-start, .fa-clock-o, .fa-floppy-o, .fa-external-link {
  margin-right: 8px;
}

.watch {
  margin-left: 5px;
}


