/*Styles for Design Sys notes*/

* {
	font-family: 'Open Sans', sans-serif;
  color: #333333;
}

h1 {
  font-size: 48px;
  font-weight: 300;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

p {
  color: #7d7d7d;
  font-weight: 400;
  line-height: 1.4;
}

p.subtitle {
  font-weight: 600;
  color: #333333;
}

ul li {
  color: #7d7d7d;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.text-block {
  width: 60%;
  margin-bottom: 48px;
}

.block-element {
  width: 100%;
  margin-bottom: 48px; 
}

.color-section {
  vertical-align: top;
  display: inline-block;
  width: 23%;
  /*adjust the width of the columns here*/
  padding: 0 10px 0 0;
  margin-bottom: 48px;
}

.colorblock {
  height: 48px;
  width: 95%;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  vertical-align: middle;
  line-height: 48px; 
  padding-left: 16px;
}

.colorhex {
  float: right;
  padding-right: 16px;
  font-family: monospace;
  font-weight: 300;
}

.marine, .marine .colorhex {
  background-color: #2f7bbf;
  color: #fff;
}

.bluemine, .bluemine .colorhex {
  background-color: #1E4E79;
  color: #fff;
}

.blazeorange, .blazeorange .colorhex {
  background-color: #f56500;
  color: #fff
}

.yelloworange, .yelloworange .colorhex {
  background-color: #faad3f;
  color: #fff;
}

.mineshaft, .mineshaft .colorhex {
  background-color: #333333;
  color: #fff;
}

.boulder, .boulder .colorhex {
  background-color: #7d7d7d;
  color: #fff;
}

.white, .white .colorhex {
  background-color: #fff;
}

.gallery, .gallery .colorhex {
  background-color: #ebebeb;
}

.silver, .silver .colorhex {
  background-color: #cccccc;
}

.alto, .alto .colorhex {
  background-color: #e0e0e0;
}

.tallpoppy, .tallpoppy .colorhex {
  background-color: #bd2527;
  color: #fff;
}

.roofterracotta, .roofterracotta .colorhex {
  background-color:  #9f1f21;
  color: #fff;
}

.example {
  border: 1px solid #cccccc;
  padding: 20px;
}

.example-primary-button {
  border-radius: 2px;
  border: 1px solid #1E4E79;
  background-color: #2f7bbf;
  padding-left: 8px;
  padding-right: 8px;
  height: 32px;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

.example-primary-button:not(.disabled):hover {
  background-color: #1E4E79;
}

.disabled {
  opacity: 0.4;
}

.example-default-button {
  border-radius: 2px;
  border: 1px solid #cccccc;
  background-color: #ebebeb;
  padding-left: 8px;
  padding-right: 8px;
  height: 32px;
  color: #333333;
  font-size: 16px;
  margin-top: 10px;
}

.example-default-button:not(.disabled):hover {
  background-color: #e0e0e0;
}

.example-warning-button {
  border-radius: 2px;
  border: 1px solid #9f1f21;
  background-color: #bd2527;
  padding-left: 8px;
  padding-right: 8px;
  height: 32px;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

.example-warning-button:not(.disabled):hover {
  background-color: #9f1f21;
}

.example-links {
  display: block;
  color: #2f7bbf;
  margin-top: 10px;
}

.example-links:not(.disabled):hover {
  color: #1E4E79;
}

.example-subtext {
  font-weight: 600;
  color: #333333;
  margin-top: 5px;
}

.example-h3 {
  margin-bottom: 5px;
}
